<% if @certificate.errors.any? %>
    <div class="error">
        <ul>
            <% @certificate.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>