<% set_meta_tags og: { image: image_url("/#{@certificate.id}.png") } %>
<main class="complete">
    
    <div class="certificate">
        <%= image_tag "/#{@certificate.id}.png", class: "cer-pic" %>
    </div>
    
    <div class="share-button">
        <%= link_to image_tag("twitter.png", class: "twitter-image", size: '25x25'),
        "https://twitter.com/share?url=#{request.url}/&text=いつも頑張っている#{@certificate.your_name}を表彰します！/&hashtags=かってに表彰状" %>
        <p>Twitter共有</p>
    </div>
    
    
</main>